section {
    color: rgb(159, 224, 241);
    border-radius: 80%;
}

.icon{
    font-size: 45px;
    color:#74b9ff;
    text-shadow: 2px 2px 5px rgb(181, 238, 240);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

table, th, td {
    padding: 10px;
  }

th {
    color: #fd5739;
    text-shadow: 1px 1px #b8d3ee;
}

.leaflet-popup-content-wrapper {
    min-width: 250px;
}

#map {
    height: 100%;
}